.initial-bg {
    background-image: url('ebx2nwlxqaeacmt-1593105281705_160w.png');
}
.new-bg {
    background-image: url('photomode_22082024_234902.png');
}
#body {color:aliceblue}
#body {
    background: #590974;
    padding: 20px;
    border-radius: 12px; opacity:0.7;
}

#body h2 {
    margin-top: 0;
}

#body li {
    margin-bottom: 8px;
}

#body a {
    color: #1d1184;
    font-weight: bold;
}
.my-flex { display: flex; gap:50px ;}
#rightside {
    background: #961726;
    padding: 20px;
    border-radius: 12px;   opacity:0.7;
}
#overlookinsmoke {width: 500px; padding:20px;  }

#walk-button {background-color:#590974; color:aliceblue}